html {
    scroll-behavior: smooth;
  }
body {
  background-image: url("../img/h_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 2vh;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

#top {
  height: 80vh;
  font-family: "Merriweather";
}

#roww {
  width: 100%;
  color: white;
  margin-top: 5vh;
}

.row {
  width: 100%;
  color: white;
  margin-top: 15vh;
}
.row img:first-child {
  margin-bottom: 2.5%;
}
.About {
  background-color: white;
  padding: 10px;
  font-size: 2vh;
  line-height: 1em;
}
.services {
  background-image: url("../img/s_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fafafa;
  padding: 10px;
  font-size: 2vh;
  text-align: center;
  line-height: 1em;
  font-weight: bolder;
}

#services{
    text-decoration: underline;
}

#doings h1::after {
  content: '';
  background: #222;
  display: block;
  height: 2px;
  width: 15%;
  margin: 15px auto 45px;
}

.About, .services {
  font-family: "sans-serif";

}
#Work {
  padding-top: 4%;
  background-color: white;
  font-family: "Poppins";
}
#Work p {
  color: black;
}
#Work h2 {
  color: black;
  font-weight: bold;
}
.design-hidden {
  display: none;
}
.development-hidden {
  display: none;
}
.management-hidden {
  display: none;
}
.clickable:hover {
  opacity: 0.4;
  cursor: pointer;
  transition: 0.5s;
}
.clickable2:hover {
  opacity: 0.4;
  cursor: pointer;
  transition: 0.5s;
}
.clickable3:hover {
  opacity: 0.4;
  cursor: pointer;
  transition: 0.5s;
}
.portfolio {
  padding-top: 1%;
  padding-bottom: 5%;
  background-color: inherit;
  color: black;
  font-family: "Poppins";
  font-weight: bold;
  box-sizing: inherit;
}
#portfolio .row {
  padding-bottom: 40px;
  display: flex;
}

#portfolio .container{
  position: relative;
  width: 85%;
}

.portfolio h1::after {
  content: '';
  background: #222;
  display: block;
  height: 2px;
  width: 15%;
  margin: 15px auto 25px;
}
col-lg-3 col-md-6
#portfolio {
  max-width: 80%;
}
#doings {
  width:85%;
}
.Contacts {
  background-image: url("../img/c_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  padding-top: 3%;
}
.Contacts h1 {
  font-weight: 10;
}
form {
  width:70%;
  margin-left: 15%;
  margin-top: -4%;
}
textarea {
  margin-top: -10%;
  opacity: 0.4;
}
textarea:hover {
  opacity: 1.1;
  transition: 0.5s;
}
input {
  opacity: 0.4;
}
input:hover {
  opacity: 1.1;
  transition: 0.7s;
}
.success {
  background: rgb(23, 167, 23);
  color: #fff;
}
.failed {
background: red;
color: #fff;
}

.footer {
  text-align: center;
}

.social-media {
  height: 24vh;
  margin-top: -7%;
  background-color: white;
  text-align: center;
  font-family: "Inconsolata";
  color: black;
}
.social-media .row {
  padding-top: 2%;
  justify-content: center;
  width:70%;
  margin-left: 14%;
}
.social-media p {
  padding-top: 1%;
  font-weight: bold;
}
.social-media img {
  border-radius: 50%;
}
.social-media img:hover {
  box-shadow: 3px 3px 5px black, -3px 0 5px grey;
  transition: 0.4s;
}

.footer {
  text-align: center;
  background-color: cornsilk;
  padding-top: 1px;
}
.footer .company {
  display: block;
  color: #222;
  margin-bottom: 20px;
}
.footer .company {
  font-weight: 600;
}
.footer .footer-icons {
  margin: 35px;
}
.footer .footer-icons a {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 25px;
  margin-bottom: 20px;
}
.footer .footer-icons i {
  margin-top: 11px;
}
.twitter {
  background-color: skyblue;
}
.dribbble {
  background-color: pink;
}
.facebook {
  background-color: rgb(5, 125, 172);
}
.google {
  background-color: red;
}
.skype {
  background-color: rgb(33, 146, 190);
}
.linkedin {
  background-color: rgb(0, 106, 148);
}
.behance {
  background-color: rgb(33, 146, 190);
}
.pinterest {
  background-color: red;
}
.flickr {
  background-color: skyblue;
}

@media screen and (max-width: 1000px){
  h1 {
    font-weight: bolder;
  }
  body {
    font-size: 2vh;
    font-weight: bold;
  }

  .About, .services {
    font-size: 2vh;
    font-weight: lighter;
  }
  #top {
    height: 60vh;
  }

}

@media screen and (max-width: 470px){
  h1 {
    font-weight: lighter;
    font-size: 2.5vh;
  }
  body {
    font-size: 2vh;
    font-weight: bold;
  }

  .About, .services {
    font-size: 2vh;
    font-weight: lighter;
  }

  #hpara {
    display: none;
  }
  #top {
    height: 40vh;
  }

  #mouse {
    display: none;
  }

}